extends layout

block content
  .container.my-5
    .row
      .col-md-8.mx-auto
        .card.border-danger
          .card-body.text-center
            h1.display-1 404
            h2.card-title Page Not Found
            p.card-text.lead The page you're looking for doesn't exist.
            p.text-muted
              small
                | Requested URL: 
                code= requestedUrl
            .mt-4
              a.btn.btn-primary(href='/') ← Back to Home
              a.btn.btn-secondary.ms-2(href='/services') Browse Services
