extends layout

block content
  .container.my-5
    .row
      .col-md-8.mx-auto
        .card.border-danger
          .card-body.text-center
            h1.display-1 500
            h2.card-title Server Error
            p.card-text.lead Something went wrong on our end.
            p.text-muted
              small
                | We're working to fix the issue. Please try again later.
            .mt-4
              a.btn.btn-primary(href='/') ← Back to Home
              a.btn.btn-secondary.ms-2(href='/contact') Contact Support
