extends layout

block content
    section.form-section
        div.form-container(style="max-width: 600px;")
            h2 Become a Partner
            form.partner-signup-form
                div.form-group
                    label(for="name") Full Name
                    input(type="text", id="name", required)
                div.form-group
                    label(for="email") Email
                    input(type="email", id="email", required)
                div.form-group
                    label(for="password") Password
                    input(type="password", id="password", required)
                div.form-group
                    label(for="service-id") Service Category
                    select(id="service-id", required)
                        if services
                            each service in services
                                option(value=service.id)= service.name
                div.form-group
                    label(for="description") Work Description / Experience
                    textarea(id="description", required)
                div.form-group
                    label(for="pricing") Pricing (e.g., "£50/hour, £100 for a specific job")
                    input(type="text", id="pricing", required)
                button(type="submit", class="button") Register

block scripts
    script(src="/partner/partner.js")
